*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.container{
    min-height:100vh;
    background:black;
    display:flex;
    color:white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid white;
    padding:20px 18px;
}
.box{
  width:50%;
  height:60%;
  padding:18px 12px;
  border:2px solid red;
  margin:10px 15px;
}

::-webkit-scrollbar{
    width:12px;
    color:transparent;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(to top ,rgb(0, 191, 255),rgb(232, 10, 47),rgba(180, 255, 94, 0.978));
    border-radius: 20px;
}