*{
    margin:0;
    padding:0;
    box-sizing:border-box;


}

.container{
      background: black;
min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

}

.loading {
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    

}

.loader{
    width:20px;
    background:white;
    height:20px;
    border-radius: 50px;
    padding:10px;
    margin:0 10px;
    animation: bounce 0.6s linear infinite;
}
.loader:nth-child(2){
  animation-delay: 0.2s;
}
.loader:nth-child(3){
  animation-delay: 0.4s;
}

@keyframes bounce{
  from{
    transform: translateY(0);
    opacity: 0.5;
  }
  to{
    transform: translateY(-15px);
    opacity: 1;
  }
}